## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

import os, sys
os.path.dirname(os.path.abspath("config.py"))

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ModuleNotFoundError: No module named 'config'

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Cape Town,ZA,2022-07-29 00:40:55,-33.9258,18.4232,57.88,84,40,18.41,scattered clouds
1,1,Phan Thiet,VN,2022-07-29 00:45:45,10.9333,108.1000,83.23,74,48,5.73,scattered clouds
2,2,San-Pedro,CI,2022-07-29 00:45:45,4.7485,-6.6363,73.40,77,24,8.14,few clouds
3,3,Lompoc,US,2022-07-29 00:40:53,34.6391,-120.4579,83.70,76,0,18.41,clear sky
4,4,Carnarvon,AU,2022-07-29 00:45:45,-24.8667,113.6333,70.95,59,100,4.12,overcast clouds

In [ ]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Phan Thiet,VN,2022-07-29 00:45:45,10.9333,108.1000,83.23,74,48,5.73,scattered clouds
2,2,San-Pedro,CI,2022-07-29 00:45:45,4.7485,-6.6363,73.40,77,24,8.14,few clouds
3,3,Lompoc,US,2022-07-29 00:40:53,34.6391,-120.4579,83.70,76,0,18.41,clear sky
4,4,Carnarvon,AU,2022-07-29 00:45:45,-24.8667,113.6333,70.95,59,100,4.12,overcast clouds
5,5,Butaritari,KI,2022-07-29 00:45:46,3.0707,172.7902,82.06,72,89,15.68,overcast clouds
10,10,Los Llanos De Aridane,ES,2022-07-29 00:45:47,28.6585,-17.9182,71.13,73,100,18.41,overcast clouds
11,11,Rikitea,PF,2022-07-29 00:45:47,-23.1203,-134.9692,73.44,75,8,20.76,light rain
13,13,Flin Flon,CA,2022-07-29 00:41:54,54.7682,-101.8650,75.09,37,99,4.36,overcast clouds
20,20,Santa Isabel Do Rio Negro,BR,2022-07-29 00:45:49,-0.4139,-65.0192,75.81,86,98,3.27,overcast clouds
24,24,La Ronge,CA,2022-07-29 00:45:50,55.1001,-105.2842,79.05,31,75,8.05,broken clouds

In [ ]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        0
Date           0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [10]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 1 to 1941
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City_ID      984 non-null    int64
 1   City         984 non-null    object
 2   Country      984 non-null    object
 3   Date         984 non-null    object
 4   Lat          984 non-null    float64
 5   Lng          984 non-null    float64
 6   Max Temp     984 non-null    float64
 7   Humidity     984 non-null    int64
 8   Cloudiness   984 non-null    int64
 9   Wind Speed   984 non-null    float64
 10  Description  984 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 92.2+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [11]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Phan Thiet,VN,83.23,scattered clouds,10.9333,108.1000,
2,San-Pedro,CI,73.40,few clouds,4.7485,-6.6363,
3,Lompoc,US,83.70,clear sky,34.6391,-120.4579,
4,Carnarvon,AU,70.95,overcast clouds,-24.8667,113.6333,
5,Butaritari,KI,82.06,overcast clouds,3.0707,172.7902,
10,Los Llanos De Aridane,ES,71.13,overcast clouds,28.6585,-17.9182,
11,Rikitea,PF,73.44,light rain,-23.1203,-134.9692,
13,Flin Flon,CA,75.09,overcast clouds,54.7682,-101.8650,
20,Santa Isabel Do Rio Negro,BR,75.81,overcast clouds,-0.4139,-65.0192,
24,La Ronge,CA,79.05,broken clouds,55.1001,-105.2842,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.

    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
             print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Phan Thiet,VN,83.23,scattered clouds,10.9333,108.1000,Hotel Saigon-PT
2,San-Pedro,CI,73.40,few clouds,4.7485,-6.6363,Hotel Maria
3,Lompoc,US,83.70,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
4,Carnarvon,AU,70.95,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
5,Butaritari,KI,82.06,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
1935,Nagua,DO,76.51,clear sky,19.3832,-69.8474,Hotel Cambri
1936,Ojinaga,MX,88.75,scattered clouds,29.5667,-104.4167,Suites Las Palmas
1937,Kavali,IN,84.13,few clouds,14.9167,79.9833,Hotel Mourya Paradise
1940,Doka,SD,70.29,overcast clouds,13.5167,35.7667,Um Rakuba Refugee Camp
1941,Khon Kaen,TH,87.35,overcast clouds,16.5000,102.0833,Major Grand

In [26]:
# 7. Drop the rows where there is no Hotel Name.

named_hotels = hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df=named_hotels
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Phan Thiet,VN,83.23,scattered clouds,10.9333,108.1000,Hotel Saigon-PT
2,San-Pedro,CI,73.40,few clouds,4.7485,-6.6363,Hotel Maria
3,Lompoc,US,83.70,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
4,Carnarvon,AU,70.95,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
5,Butaritari,KI,82.06,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
1935,Nagua,DO,76.51,clear sky,19.3832,-69.8474,Hotel Cambri
1936,Ojinaga,MX,88.75,scattered clouds,29.5667,-104.4167,Suites Las Palmas
1937,Kavali,IN,84.13,few clouds,14.9167,79.9833,Hotel Mourya Paradise
1940,Doka,SD,70.29,overcast clouds,13.5167,35.7667,Um Rakuba Refugee Camp
1941,Khon Kaen,TH,87.35,overcast clouds,16.5000,102.0833,Major Grand

In [27]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Outlook</dt><dd>{Description}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 

locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))