## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Phan Thiet,VN,83.23,scattered clouds,10.9333,108.1000,Hotel Saigon-PT
1,2,San-Pedro,CI,73.40,few clouds,4.7485,-6.6363,Hotel Maria
2,3,Lompoc,US,83.70,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
3,4,Carnarvon,AU,70.95,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
4,5,Butaritari,KI,82.06,overcast clouds,3.0707,172.7902,Isles Sunset Lodge

In [3]:
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,Phan Thiet,VN,83.23,scattered clouds,10.9333,108.1000,Hotel Saigon-PT
1,2,San-Pedro,CI,73.40,few clouds,4.7485,-6.6363,Hotel Maria
2,3,Lompoc,US,83.70,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
3,4,Carnarvon,AU,70.95,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
4,5,Butaritari,KI,82.06,overcast clouds,3.0707,172.7902,Isles Sunset Lodge

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Outlook</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.


locations = vacation_df[["Lat", "Lng"]]

In [5]:
locations

         Lat       Lng
0    10.9333  108.1000
1     4.7485   -6.6363
2    34.6391 -120.4579
3   -24.8667  113.6333
4     3.0707  172.7902
..       ...       ...
901  19.3832  -69.8474
902  29.5667 -104.4167
903  14.9167   79.9833
904  13.5167   35.7667
905  16.5000  102.0833

[906 rows x 2 columns]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_start_df = vacation_df.loc[(vacation_df["City"] == "Salinas")]
vacation_start_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
258,570,Salinas,US,85.01,scattered clouds,36.6777,-121.6555,Laurel Inn & Conference Center

In [8]:
vacation_df.loc[(vacation_df["City"] == "Irvine")]

Empty DataFrame
Columns: [City_ID, City, Country, Max Temp, Description, Lat, Lng, Hotel Name]
Index: []

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start_df = vacation_df.loc[(vacation_df["City"] == "Salinas")]
vacation_end_df = vacation_df.loc[(vacation_df["City"] == "Salinas")]
vacation_stop1_df = vacation_df.loc[(vacation_df["City"] == "Missoula")]
vacation_stop2_df = vacation_df.loc[(vacation_df["City"] == "Englewood")] 
vacation_stop3_df = vacation_df.loc[(vacation_df["City"] == "Astoria")] 
print(vacation_start_df)
print(vacation_end_df)
print(vacation_stop1_df)
print(vacation_stop2_df)
print(vacation_stop3_df)

     City_ID     City Country  Max Temp       Description      Lat       Lng  \
258      570  Salinas      US     85.01  scattered clouds  36.6777 -121.6555

                         Hotel Name
258  Laurel Inn & Conference Center
     City_ID     City Country  Max Temp       Description      Lat       Lng  \
258      570  Salinas      US     85.01  scattered clouds  36.6777 -121.6555

                         Hotel Name
258  Laurel Inn & Conference Center
     City_ID      City Country  Max Temp Description      Lat       Lng  \
552     1185  Missoula      US      88.2   clear sky  47.0166 -113.8009

           Hotel Name
552  Gold Creek Cabin
     City_ID       City Country  Max Temp    Description      Lat       Lng  \
815     1748  Englewood      US     73.65  broken clouds  39.6478 -104.9878

                                            Hotel Name
815  InTown Suites Extended Stay Denver CO - Englewood
     City_ID     City Country  Max Temp Description      Lat       Lng  \
829     1779  Astoria      US     72.59   clear sky  46.1879 -123.8313

                              Hotel Name
829  Best Western Astoria Bayfront Hotel

In [10]:
print(vacation_stop1_df)

     City_ID      City Country  Max Temp Description      Lat       Lng  \
552     1185  Missoula      US      88.2   clear sky  47.0166 -113.8009

           Hotel Name
552  Gold Creek Cabin

In [49]:


xx = vacation_start_df[["Lat", "Lng"]].to_numpy()[0]
xx

array([  36.6777, -121.6555])

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start_df[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end_df[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1_df[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2_df[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3_df[["Lat", "Lng"]].to_numpy()[0]

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)


fig = gmaps.figure()
start2stop1 = gmaps.directions_layer(start, stop1)
stop12stop2 = gmaps.directions_layer(stop1, stop2)
stop22stop3 = gmaps.directions_layer(stop2, stop3)
stop32end = gmaps.directions_layer(stop3, end)


fig.add_layer(start2stop1)
fig.add_layer(stop12stop2)
fig.add_layer(stop22stop3)
fig.add_layer(stop32end)

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df,  vacation_stop3_df, vacation_stop1_df, vacation_stop2_df,vacation_end_df ],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,570,Salinas,US,85.01,scattered clouds,36.6777,-121.6555,Laurel Inn & Conference Center
1,1779,Astoria,US,72.59,clear sky,46.1879,-123.8313,Best Western Astoria Bayfront Hotel
2,1185,Missoula,US,88.20,clear sky,47.0166,-113.8009,Gold Creek Cabin
3,1748,Englewood,US,73.65,broken clouds,39.6478,-104.9878,InTown Suites Extended Stay Denver CO - Englewood
4,570,Salinas,US,85.01,scattered clouds,36.6777,-121.6555,Laurel Inn & Conference Center

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Outlook</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:

max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(36.0, -104.9878), zoom_level=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 11a. Add a marker layer for each city to the map.


fig = gmaps.figure()
start2stop1 = gmaps.directions_layer(start, stop1)
stop12stop2 = gmaps.directions_layer(stop1, stop2)
stop22stop3 = gmaps.directions_layer(stop2, stop3)
stop32end = gmaps.directions_layer(stop3, end)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(start2stop1)
fig.add_layer(stop12stop2)
fig.add_layer(stop22stop3)
fig.add_layer(stop32end)

fig.add_layer(marker_layer)


# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))